{% extends "base.html" %}

{% block page_content %}
    <div style="margin: 20px 20px">
        <h4>Recommend</h4>
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder:
                <ul>
                    <li>Placeholder</li>
                    <li>Placeholder</li>
                </ul>
            </li>
        </ul>

        <h4>Statistics</h4>
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>
{% endblock %}
